<ion-navbar *navbar hideBackButton class="show-navbar">
    <ion-title>
        <center> {{config.getLabel('notifications')}} </center>
    </ion-title>
    <ion-buttons end>
        <button (click)="saveAndGoBack()">
            {{config.getLabel('done')}}
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>
    <ion-list>
        <ion-item class="item item-text-wrap" *ngFor="#item of notifications; #i = index">
            <ion-label> {{item.text}} </ion-label>
        </ion-item>
        <ion-item *ngIf="notifications.length == 0"> You have no Notifications </ion-item>
    </ion-list>
</ion-content>
